<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Course Management</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Course Management</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/list}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teacher/list}">Teacher Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Course </h1>
            <div class = "card-body">
                <form th:action="@{/course/new}" th:object = "${course}" method="POST">
                    <div class ="form-group">
                        <label> Department </label>
                        <input
                                type = "text"
                                name = "Department"
                                th:field = "*{dept}"
                                class = "form-control"
                                placeholder="Enter Course Department"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Number </label>
                        <input
                                type = "number"
                                name = "number"
                                th:field = "*{num}"
                                class = "form-control"
                                placeholder="Enter Course Number"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Name </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter Course Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Year </label>
                        <input
                                type = "number"
                                name = "year"
                                th:field = "*{year}"
                                class = "form-control"
                                placeholder="Enter Course Academic Year"
                        />
                    </div>

                    <div class="form-group">
                        <label>Quarter</label>
                        <select name="quarter" th:field="*{quarter}" class="form-control">
                            <option value="FALL">FALL</option>
                            <option value="WINTER">WINTER</option>
                            <option value="SPRING">SPRING</option>
                            <option value="SUMMER">SUMMER</option>
                        </select>
                    </div>


                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>