<!-- linked with the controller-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Course Management</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Course Management</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/list}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teacher/list}">Teacher Management</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1> List Courses </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/course/new}" class = "btn btn-primary btn-sm mb-3"> Add a Course</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Department </th>
            <th> Number </th>
            <th> Name </th>
            <th> Year</th>
            <th> Quarter </th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "course: ${courses}">
            <td th:text = "${course.dept}"></td>
            <td th:text = "${course.num}"></td>
            <td th:text = "${course.name}"></td>
            <td th:text="${course.year}"></td>
            <td th:text="${course.quarter}"></td>
            <td>
                <a th:href = "@{/course/edit/{id}(id=${course.id})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/course/delete/{id}(id=${course.id})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>