<!-- linked with the controller-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Course Management</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Course Search</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<br>

<div class ="container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Search Course </h1>
            <div class = "card-body">
                <form th:action="@{'/course/search_result'}" th:object = "${courseSearch}" method="POST">
                    <div class ="form-group">
                        <label> Keyword </label>
                        <input
                                type = "text"
                                name = "keyword"
                                th:field="*{keyword}"
                                class = "form-control"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>